.box {
    background-color: ghostwhite;
    width: 80%;
    margin: 10px 10% 0% 10%;
    box-shadow: 0 0 5px 5px grey;
    border-bottom: 5px solid lawngreen;
}

.link {
    display: table;
    margin-right: auto;
    margin-left: auto;
}