<br>
<div class="box" [ngClass]="{'reminder': task.reminder}">
  <div class="card-content">
      <div class="columns">
        <div class="column is-four-fifths">
          <h2><b>{{task.text}}</b></h2>
        </div>
        <div class="column">
          <span class="icon">
            <fa-icon [icon]="icon" class="faicon fa-2x bell-green" *ngIf="task.reminder" (click)="toggleOnBellIconClick(task)"></fa-icon>
            <fa-icon [icon]="icon" class="faicon fa-2x bell-red" *ngIf="!task.reminder" (click)="toggleOnBellIconClick(task)"></fa-icon>
          </span> 
        </div>
      <div class="column">
          <span class="icon">
            <fa-icon (click)="onDelete(task.id)" class="faicon fa-2x deleteIcon" [icon]="deleteIcon" [style.color]="'red'"></fa-icon>
          </span>
      </div>
      </div>
      <time datetime="2016-1-1">{{task.day}}</time>
      <ng-templete *ngFor="let tag of task.tags">
        <span class="tag is-success" [style.margin]="'5px'">{{tag}}</span>
      </ng-templete>
  </div>
</div>
