.reminder {
    box-shadow: 0 0 15px 5px grey;
    border-left: 10px solid green;
}

.bell-red {
    color: red;
}

.bell-green {
    color: green;
}

.bell-green:hover {
    opacity: 0.5;
    filter: drop-shadow(0 0 10px green);
}

.bell-red:hover {
    opacity: 0.5;
    filter: drop-shadow(0 0 10px red);
}

.deleteIcon:hover {
    opacity: 0.5;
    filter: drop-shadow(0 0 10px red);
}

.box {
    background-color: ghostwhite;
    margin: 0% 15% 0% 15%;
    width: 70%;
}